#### .NET Coding Conventions ####
[*.{cs,vb}]

dotnet_diagnostic.NEEG001.severity = error
dotnet_diagnostic.NEEG002.severity = error
dotnet_diagnostic.NEEG003.severity = error
dotnet_diagnostic.NEEG004.severity = error
dotnet_diagnostic.NEEG005.severity = error
dotnet_diagnostic.NEEG006.severity = error
dotnet_diagnostic.NEEG007.severity = error
dotnet_diagnostic.NEEG008.severity = error
dotnet_diagnostic.NEEG009.severity = error
dotnet_diagnostic.NEEG010.severity = error
dotnet_diagnostic.NEEG011.severity = error
dotnet_diagnostic.NEEG012.severity = error